#title {
    -fx-text-fill: white;

    -fx-font-size: 39;
    -fx-font-family: 'Poppins Medium';
}
#description {
    -fx-text-fill: white;

    -fx-font-size: 22;
    -fx-font-family: 'Poppins Medium';
}
#genBlueprint {
    -fx-text-fill: white;

    -fx-font-size: 22;
    -fx-font-family: 'Poppins Medium';
}

#roundedRect {
    -fx-fill: #3E3E3E;
    -fx-stroke: #FF9100;
    -fx-stroke-width: 2;
    -fx-arc-height: 26;
    -fx-arc-width: 26;
}
#roundedButton {
    -fx-font-size: 22;
    -fx-font-family: 'Poppins Medium';
    -fx-text-fill: white;

    -fx-background-color: #3E3E3E;
    -fx-border-color: #FF9100;
    -fx-border-width: 2;
    -fx-stroke-width: 2;

    -fx-background-radius: 26;
    -fx-border-radius: 26;
}
#roundedButton:hover {
    -fx-background-color: #373737;
}
#roundedButton:pressed {
    -fx-background-color: #353535;
}